.ChatMain
  .ChatMain__info
    .ChatMain_LeftBox
      .CurrentGroup
        = @group.name
      .MemberList
        Member :
        .MemberList--name
          - @group.users.each do |user|
            = user.name
    .EditBtn
      = link_to "Edit", edit_group_path(@group.id)

  .ChatMain__message
    = render @messages


  = form_for [@group, @message] do |f|
    .ChatMain__form
      .InputBox 
        = f.text_field :content, class: 'InputBox__text', placeholder: 'type a message'
        .InputBox__image
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image fa-lg')
            = f.file_field :image, class: 'sentaku'
      = f.submit 'Send', class: 'SubmitBtn'