.ChatMain
  .ChatMain__info
    .ChatMain_LeftBox
      .CurrentGroup
        チャットグループ
      .MemberList
        Member : ABCD
    .EditBtn
      = link_to 'Edit', '#'

  .ChatMain__message
    .MessageBox
      .NameBox
        ABCD
        .DateBox
          2020/04/25(sat) 00:04:13
      .InputText  
        おはよう
    .MessageBox
      .NameBox
        ABCD
        .DateBox
          2020/04/25(sat) 00:04:14
      .InputText  
        こんにちは
    .MessageBox
      .NameBox
        ABCD
        .DateBox
          2020/04/25(sat) 00:04:15
      .InputText  
        こんばんは
    .MessageBox
      .NameBox
        ABCD
        .DateBox
          2020/04/25(sat) 00:04:16
      .InputText  
        おやすみ

  = form_for [@group, @message] do |f|
    .ChatMain__form
      .InputBox 
        = f.text_field :content, class: 'InputBox__text', placeholder: 'type a message'
        .InputBox__image
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image fa-lg')
            = f.file_field :image, class: 'sentaku'
      = f.submit 'Send', class: 'SubmitBtn'